server:
  port: 8080

spring:
  application:
    name: mate
  datasource:
    url: jdbc:mysql://localhost:3306/database?useSSL=false&allowPublicKeyRetrieval=true&serverTimezone=UTC
    username: user
    password: pass
    driver-class-name: com.mysql.cj.jdbc.Driver
    # https://github.com/brettwooldridge/HikariCP/wiki/MySQL-Configuration
    hikari:
      data-source-properties:
        cachePrepStmts: true
        prepStmtCacheSize: 250
        prepStmtCacheSqlLimit: 2048
        useServerPrepStmts: true
        useLocalSessionState: true
        rewriteBatchedStatements: true
        cacheResultSetMetadata: true
        cacheServerConfiguration: true
        elideSetAutoCommits: true
        maintainTimeStats: false
  jpa:
    hibernate:
      ddl-auto: validate
    properties:
      hibernate.show_sql: false
      hibernate.use_sql_comments: true
      hibernate.format_sql: true
    open-in-view: false
  mvc:
    log-resolved-exception: false
    log-request-details: true

springdoc:
  swagger-ui:
    path: /swagger-ui
  api-docs:
    path: /api-docs
  show-actuator: true
  default-consumes-media-type: application/json
  default-produces-media-type: application/json
  writer-with-default-pretty-printer: true
  model-and-view-allowed: false
  paths-to-match: /**

logging:
  level:
    org.springframework.web.servlet.mvc.support.DefaultHandlerExceptionResolver: ERROR

jwt:
  privateKey: "-----BEGIN PRIVATE KEY-----\n...\n-----END PRIVATE KEY-----"
  publicKey: "-----BEGIN PUBLIC KEY-----\n...\n-----END PUBLIC KEY-----"
