<?xml version="1.0" encoding="UTF-8" ?>
<configuration>
  <appender class="ch.qos.logback.core.ConsoleAppender" name="STDOUT">
    <encoder>
      <Pattern>${CONSOLE_PATTERN}</Pattern>
    </encoder>
  </appender>
  <include resource="org/springframework/boot/logging/logback/defaults.xml"/>
  <include resource="org/springframework/boot/logging/logback/console-appender.xml"/>
  <logger additive="false" level="OFF" name="jdbc">
    <appender-ref ref="STDOUT"/>
  </logger>

  <logger additive="false" level="OFF" name="jdbc.sqlonly">
    <appender-ref ref="STDOUT"/>
  </logger>
  <logger additive="false" level="OFF" name="jdbc.sqltiming">
    <appender-ref ref="STDOUT"/>
  </logger>
  <logger additive="false" level="DEBUG" name="org.hibernate.SQL">
    <!--        <appender-ref ref="CONSOLE"/>-->
  </logger>

  <!-- SQL log -->
  <logger additive="false" level="TRACE" name="org.hibernate.orm.jdbc.bind"/>
  <!-- SQL parameter log -->
  <logger level="INFO" name="org.springframework.web"/>

  <logger level="DEBUG" name="team.fuyuki23.mate"/>
  <property name="CONSOLE_PATTERN"
    value="%d{yyyy-MM-dd HH:mm:ss.SSS} %magenta([%thread]) %highlight([%-3level]) %logger{5} - %msg %n"/>

  <root level="INFO">
    <appender-ref ref="CONSOLE"/>
  </root>
</configuration>
